<h1 class="text-center mt-4">Listing all video_games</h1>

<div class="flickr_pagination">
  <%= will_paginate @video_games, :container => false %>
</div>
<%= render 'video_game' %>
<div class="flickr_pagination mb-4">
    <%= will_paginate @video_games, :container => false %>
</div>