<h1>Donkey Kong is a retro favorite!! Use Mario and scale the construction
    site to rescue Paula!
</h1>
<p><strong>Title:</strong><%= @video_games.title %></p>
<p><strong>Description: </strong><%= @video_games.description %></p>