<div class="container" id="home-container">
    <div class="p-5 mb-2 bg-light rounded-3 text-center" id="jumbotron">
        <div class="container-fluid py-2">
        <h1 class="display-2 fw-bold ">Arcade Games Emporium</h1>
        <p class="">Keep track of classic arcade games you have played and discover new and old ones that you haven't!</p>
    </div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
      <%= link_to "Sign up!", signup_path, class: "btn btn-warning btn-lg" %>
  </div>
  <div>
      
  </div>