<div class="container" id="home-container">
    <div class="p-5 mb-4 bg-light rounded-3 text-center" id="jumbotron">
        <div class="container-fluid py-5">
        <h1 class="display-4 fw-bold">Video Games Collection App</h1>
        <p class="">Keep track of your personal video games collection, wishlist, code saver and more!</p>
        <%= link_to "Sign up!", signup_path, class: "btn btn-success btn-lg" %>
    </div>
  </div>