

.navbar {
    background-color: black !important ;
}

.nav-link {
    color: white !important ;
}

#home-container {
  margin-top: 25px;
}

#jumbotron {
    text-align: center;
    background-image: asset-url('jumbo-copy.jpeg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 425px;
}

html,
body {
  height: 100%;
}

#page-content {
  flex: 1 0 auto;
  background-color: rgb(173, 235, 224);
}

#sticky-footer {
    flex-shrink: none;
    z-index: 1;
    position: fixed;
    bottom: 0px;
    width: 100%;
}
