

.navbar {
    background-color: silver !important;
}

.nav-link {
    color: grey !important;
}

#home-container {
  margin-top: 25px;
}

#logo {
  float: left;
  font-size: 1.9em;
  color:rgb(233, 210, 180)
  text-transform uppercase;
}

#jumbotron {
    color: white;
    font-size: 25px;
    text-align: center;
    background-image: asset-url('jumbo-copy.jpeg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 600px;
}

html,
body {
  height: 100%;
}

#page-content {
  flex: 1 0 auto;
  background-color: rgb(245, 154, 34);
}

#sticky-footer {
    flex-shrink: none;
    z-index: 1;
    position: fixed;
    bottom: 0px;
    width: 100%;
}


